prac31.py
prac3.py
Untitled.ipynb
glove.6B.zip
lxml.etree
zipfile
ted_en-20160408.zip
__pycache__/prac2.cpython-35.pyc
__pycache__/prac3.cpython-35.pyc
__pycache__/ted_data.cpython-35.pyc
PRAC2 GRAPHS.zip
